name: Tests Execution
on:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened, synchronize]
    branches:
      - main

jobs:
  check-tests:
    permissions:
      pull-requests: read
    runs-on: ubuntu-latest
    outputs:
      needed: ${{ steps.filter.outputs.changed }}
    steps:
      - name: Paths Changes Filter
        uses: dorny/paths-filter@v3.0.2
        id: filter
        with:
          filters: |
            changed:
              - 'src/**'
              - 'tests/**'
              - '.github/workflows/**.yml'

  no-tests-always-true:
    name: Run if no tests
    needs: check-tests
    if: ${{ !needs.check-tests.outputs.needed }}
    runs-on: ubuntu-latest
    steps:
      - name: Just runs
        run: echo "This job is used to prevent the workflow status from showing as failed when no tests are run."

  php-tests:
    needs: check-tests
    if: ${{ needs.check-tests.outputs.needed }}
    permissions:
      contents: write
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        php: [8.5, 8.4, 8.3, 8.2, 8.1, 8.0, 7.4]

    name: ${{ matrix.os }} - PHP${{ matrix.php }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          ini-values: memory_limit=128M
          extensions: dom, curl, libxml, mbstring, zip, bcmath, intl
          coverage: xdebug

      - name: Update composer
        run: composer update --prefer-stable --no-interaction --prefer-dist

      - name: Execute tests on Linux with cover
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.php == '8.3' }}
        run: sudo vendor/bin/phpunit --testdox --coverage-clover clover.xml

      - name: Execute tests on Linux without cover
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.php != '8.3' }}
        run: sudo vendor/bin/phpunit --testdox

      - name: Execute tests on Windows
        if: matrix.os == 'windows-latest'
        run: vendor/bin/phpunit.bat --exclude node --testdox

      - name: Generate test coverage badge
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.php == '8.3' }}
        uses: timkrase/phpunit-coverage-badge@v1.2.0
        with:
          coverage_badge_path: 'docs/badge-coverage.svg'
          push_badge: true
          repo_token: ${{ secrets.GITHUB_TOKEN }}
